// {% raw %}

$textcolor: rgba(0, 0, 0, 0.84);
$mutedcolor: rgba(0, 0, 0, 0.54);

$colorshaded: rgba(0,0,0,.84);
$bgshaded: rgba(0,0,0,.05);

$sm:768px;
$md:960px;

@import "reset";
@import "syntax";
@import "header";
@import "topmenu";
@import "content";
@import "post";
@import "page";
@import "wall";
@import "footer";


body {
  font-family: Roboto, "Open Sans", Arial, Helvetica, "sans-serif";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}



//{% endraw %}