// {% raw %}

$textcolor: #333;
$mutedcolor: #777;

$colorshaded: rgba(0,0,0,.86);
$bgshaded: rgba(0,0,0,.05);

$sm:768px;
$md:960px;

@import "reset";
@import "syntax";
@import "header";
@import "topmenu";
@import "content";
@import "post";
@import "page";
@import "footer";

body {
  font-family: Roboto, "Open Sans", Arial, Helvetica, "sans-serif";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}



//{% endraw %}