<article class="{% if post.preview %}wall__post{%else%}wall__post wall__post--noimage{%endif%}">
    <div class="{% if post.preview %}wall__categories{%else%}wall__categories--noimage{%endif%}">
        {% for category in post.categories %}
            <a href="/{{category}}" class="{% if post.preview %}wall__category{%else%}wall__category--noimage{%endif%}">{{ category | replace:"blog","Blog" | replace:"speaking","Talk" | replace:"workshops","Workshop" }}</a>
        {% endfor %}
    </div>
    {% if post.preview %}
        <a href="{{post.url}}" class="wall__image">
            <img src="{{ post.preview }}" alt="" />
        </a>
    {% endif %}
    {% include wall-post-content.html %}
</article>