<article class="{% if post.preview %}wall__post{%else%}wall__post wall__post--noimage{%endif%}">
    {% if include.categorylabel %}
        <div class="{% if post.preview %}wall__categories{%else%}wall__categories--noimage{%endif%}">
            {% for category in post.categories %}
                <a href="/{{category}}" class="{% if post.preview %}wall__category{%else%}wall__category--noimage{%endif%}">{{ category | replace:"blog","Blog" | replace:"videos","Video" | replace:"speaking","Talk" | replace:"workshops","Workshop" }}</a>
            {% endfor %}
        </div>
    {% endif %}
    {% if post.preview %}
        <a href="{{post.url}}" class="wall__image">
            {% capture defaultImageSize %}{{ post.preview | replace:'/assets/img', '/assets/resized/217' }}{% endcapture %}
            <img
                class="wall__imagelowres"
                src="{% base64 defaultImageSize %}"
                alt=""
            />
            <img
                class="wall__imagehighres"
                data-srcset="
                    {{ post.preview | replace:'/assets/img', '/assets/resized/465' }} 465w,
                    {{ post.preview | replace:'/assets/img', '/assets/resized/768' }} 768w,
                    {{ post.preview | replace:'/assets/img', '/assets/resized/960' }} 960w
                "
                data-sizes="
                    (min-width:466px) 768px,
                    (min-width:769px) 960px,
                    (min-width:961px) 465px,
                    465px
                "
                data-src="{{ post.preview | replace:'/assets/img', '/assets/resized/960' }}"
                alt=""
            />
        </a>
    {% endif %}
    {% include wall-post-content.html %}
</article>