<article class="{% if post.preview %}wall__post{%else%}wall__post wall__post--noimage{%endif%}">
    <div class="{% if post.preview %}wall__categories{%else%}wall__categories--noimage{%endif%}">
        {% for category in post.categories %}
            <a href="/{{category}}" class="{% if post.preview %}wall__category{%else%}wall__category--noimage{%endif%}">{{ category | replace:"blog","Blog" | replace:"speaking","Talk" | replace:"workshops","Workshop" }}</a>
        {% endfor %}
    </div>
    {% if post.preview %}
        <a href="{{post.url}}" class="wall__image">
            <picture>
                <source media="(max-width: 465px)" srcset="{{ post.preview | replace:'/assets/img', '/assets/resized/465' }}" />
                <source media="(min-width: 466px) and (max-width:768px)" srcset="{{ post.preview | replace:'/assets/img', '/assets/resized/768' }}" />
                <source media="(min-width: 769px) and (max-width:959px)" srcset="{{ post.preview | replace:'/assets/img', '/assets/resized/960' }}" />
                <source media="(min-width: 960px)" srcset="{{ post.preview | replace:'/assets/img', '/assets/resized/465' }}" />
                <img src="{{ post.preview | replace:'/assets/img', '/assets/resized/960' }}" alt="" />
            </picture>
        </a>
    {% endif %}
    {% include wall-post-content.html %}
</article>