@import "variables";
.content {
  font-family: $font-serif;
  font-size:21px;
  line-height: 30px;

  pre {
    display: block;
    background:$bgshaded;
    color: $colorshaded;
    padding:10px;
    font-size:12px;
    line-height:20px;
    @media print {
      font-size:21px;
    }
  }

  code {
    word-wrap: break-word;
  }
  figure code, pre code {
    word-wrap: normal;
  }

  pre, p, h2, h3, h4, h5, h6, table, figure, ul, ol {
    margin-top:30px;
  }

  &>* {
    animation: fadein .375s;
  }

  h1, h2, h3, h4, h5, h6 {
    color: rgba(0,0,0,.84);
    font-family: $font-sans-serif;
    font-weight: 600;
    letter-spacing: -.012em;
    --x-height-multiplier: 0.342;
    --baseline-multiplier: 0.22;
  }

  h1 {
    font-size:48px;
  }
  @media screen and (max-width: $xxs - 1) {
    h1 {
      font-size:32px;
    }
  }
  h2 {
    font-size:26px
  }
  h3 {
    font-size:21px;
  }
  table {
    border-collapse: collapse;
  }
  tbody th {
    text-align:left;
  }
  th,td {
    padding:10px;
  }

  @media screen and (max-width: 699px) {
    &__table {
      position:relative;
      max-width:100%;
      overflow-x:scroll;
    }
  }

  figure {
    text-align:center;
    position:relative;
    @media screen and (max-width: 700px) {
      overflow-x: scroll;
    }
    p {
      margin-top: 0;
      text-align:center;
    }
    img, svg {
      @media screen and (max-width: 700px) {
        min-width: 500px;
      }
      max-width:100%;
    }
    svg {
      height:auto;
    }
    &.graphviz {
      font-family: $font-sans-serif;
      font-size: 12px;
      .node {
        polygon {
          fill: $bgshaded;
          stroke: #ccc;
        }
        text {
          fill:#333;
        }
        polyline {
          stroke: #ccc;
        }
      }
      .edge {
        path {
          stroke: #aaa;
        }
        polygon {
          fill: $bgshaded;
          stroke: #aaa;
        }
      }
    }
    table {
      background-color:$bgshaded;
      border-collapse: collapse;
      margin-left:auto;
      margin-right:auto;
    }
    table, th, td {
      border: 1px solid $mutedcolor;
    }

    &.content__video {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      height: 0;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  strong {
    font-weight:600;
  }

  blockquote {
    margin-left:-20px;
    padding-left:20px;
    border-left:3px solid #555;
    font-style: italic;
  }

  a {
    color:inherit;
    text-decoration:underline;
  }

  p {
    text-align:justify;
  }
}