.cta {
  max-width:$md;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:30px;
  font-style: italic;
  padding-left:10px;
  padding-right:10px;
  a {
    color:$activecolor;
  }
}
