@import "variables";
.footer {
  @media print {
    display: none;
  }
  &--print {
    display:none;
    @media print {
      page-break-before: avoid;
      margin-top:20px;
      padding-top:10px;
      border-top:1px solid #333;
      display: block;
      text-align: center;
    }
  }
  position: relative;
  background:$bgshaded;
  color: $colorshaded;
  a {
    color:#000;
    text-decoration:none;
  }
  margin-top:10px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 48px;
  font-size: 16px;
  text-align:center;

  @media screen and (min-width: $sm) {
    display:flex;
    &__copyright {
      display:inline-block;
      flex:1;
      text-align:left;
    }
    &__links {
      display:inline-block;
      flex:1;
      text-align:right;
    }
  }

  @media screen and (min-width: $md) {
    margin-bottom: 20px;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
  }
}