.post {
  &__header, &__content, &__share, &__bio, &__links, &__recommended {
    position:relative;
    padding-left:20px;
    padding-right:20px;
    max-width:700px;
    margin-left:auto;
    margin-right:auto;
  }
  &__preview {
    position:relative;
    max-width:960px;
    margin-left:auto;
    margin-right:auto;
    img {
      width:100%;
      margin-top:30px;
    }
  }
  &__meta {
    font-family: Roboto, "Open Sans", Arial, Helvetica, "sans-serif";
    color:$mutedcolor;
  }

  &__share {
    border-top: 1px solid rgba(0,0,0,.05);
    border-bottom: 1px solid rgba(0,0,0,.05);
    margin-top:30px;
    padding-top:20px;
    padding-bottom:20px;
    margin-bottom:10px;
  }
  &__sharelinks {
    margin-top:30px;
    text-align:center;
  }
  &__sharelink {
    text-decoration:none;
    margin-left:10px;
    margin-right:10px;
  }

  &__bio {
    padding:20px;
    p {
      margin-top:20px;
    }
  }

  &__bioavatar {
    border-radius: 50%;
    height:64px;
    width:64px;
    margin-right:10px;
    float:left;
  }

  &__biodata {
    margin-left:74px;
  }

  &__bioname {
    font-size: 21px;
    line-height: 24px;
  }

  &__biosocial {
    margin-top:20px;
  }

  @media screen and (min-width: $xs) {
    &__biosocial {
      display:flex;
    }
    &__biosocialcol {
      flex:1;
      width:50%;
    }
  }

  &__biosubscribe {
    font-size:21px;
    margin-top:30px;
  }

  &__biosociallink {
    display:block;
    color: $mutedcolor;
    text-decoration: none;
    line-height:32px;
    margin-top:10px;
    margin-bottom:10px;
  }

  &__biosocialicon {
    margin-right:10px;
    display:inline-block;
    vertical-align: top;
    height:32px;
    width:32px;
  }

  &__links {
    margin-top:30px;
  }

  &__link {
    border:1px solid $activecolor;
    color:$activecolor;
    border-radius:3px;
    text-decoration: none;
    margin-right:10px;
    font-size:15px;
    padding: 5px 14px;
    font-family: Roboto, "Open Sans", Arial, Helvetica, "sans-serif";
  }

  &__imagelowres {
    z-index:1;
  }
  &__imagehighres {
    position:absolute;
    top:0;
    left:0;
    right:0;
    z-index:2;
  }
}

h2.post__cta, h1.post__recommendedheader {
    text-align:center;
    margin:0;
    padding:0;
    font-size:21px;
    line-height: 30px;
}

h1.post__recommendedheader {
  margin-bottom:30px;
}

a.post__link {
  text-decoration: none;
  color:$activecolor;
}