$textcolor: rgba(0, 0, 0, 0.84);
$mutedcolor: rgba(0, 0, 0, 0.54);

$colorshaded: rgba(0,0,0,.84);
$bgshaded: rgba(0,0,0,.05);

$activecolor: #03a87c;
$alternatecolor: #1C3742;

$xxs:360px;
$xs:512px;
$sm:768px;
$md:960px;

$font-serif: Georgia,Cambria,"Times New Roman",Times,serif;
$font-sans-serif: Roboto, "Open Sans", "Lucida Grande","Lucida Sans Unicode","Lucida Sans", Helvetica, Arial, "sans-serif";
$font-monospace: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;

$animation-in: fadein .233s;
