<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />

    <title>{% if page.title %}{{ page.title | escape }} &mdash; {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{{ page.description | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}" />
    <style>{% capture include_to_scssify %}{% include main.scss %}{% endcapture %}{{ include_to_scssify | scssify }}</style>
    <link rel="canonical" href="{{ page.url | replace:'/index.html','' | absolute_url }}" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}" />

    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="{{site.title|escape}}" />
    <meta property="og:title" content="{{page.title}}"/>
    <meta property="fb:admins" content="janoszen" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ page.fbimage | default: "/assets/avatar.jpg" | absolute_url }}" />
    <meta property="og:url" content="{{ page.url | replace:'/index.html','' | absolute_url }}" />
    <meta property="og:description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}" />
    <link rel="apple-touch-icon-precomposed" href="{{ "/assets/avatar.jpg" | absolute_url }}" />
    <link rel="icon" href="{% base64 /assets/avatar-32.png %}" />
    <meta name="twitter:card" content="{{ page.twitter_card | default: "summary" }}" />
    <meta name="twitter:description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}" />
    <meta name="twitter:site" content="@janoszen" />
    <meta name="twitter:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}" />
    <meta name="twitter:image" content="{{ page.twitterimage | default: "/assets/avatar.jpg" | absolute_url }}" />

    <meta name="skype_toolbar" content="skype_toolbar_parser_compatible" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="application-name" content="Janos Pasztor" />
    <meta name="msapplication-starturl" content="/" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="theme-color" content="#f5f5f5" />
    <meta name="msapplication-navbutton-color" content="#f5f5f5" />
    <meta name="msapplication-TileColor" content="#f5f5f5" />
    <meta name="msapplication-TileImage" content="{{ "/assets/avatar.jpg" | absolute_url }}" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "Person",
      "mainEntityOfPage": "https://pasztor.at/",
      "givenName": "Janos",
      "familyName": "Pasztor",
      "gender": "Male",
      "jobTitle": "DevOps Engineer",
      "image": "{{ "/assets/avatar.jpg" | absolute_url }}",
      "address": {
        "@type":"PostalAddress",
        "streetAddress":"Graf-Starhemberg-Gasse 47/6",
        "postalCode":"1040",
        "addressLocality":"Wien",
        "addressCountry":"AT"
      },
      "memberOf": {
        "@type": "Organization",
        "name": "Opsbears",
        "legalName": "Opsbears e.U.",
        "address": {
          "@type":"PostalAddress",
          "streetAddress":"Graf-Starhemberg-Gasse 47/6",
          "postalCode":"1040",
          "addressLocality":"Wien",
          "addressCountry":"AT"
        },
        "taxID": "FN 406446s",
        "vatID": "ATU68310348",
        "url":"https://www.opsbears.com",
        "mainEntityOfPage": "https://opsbears.com/",
        "sameAs": [
          "https://facebook.com/opsbears",
          "https://twitter.com/opsbears",
          "https://github.com/opsbears"
        ]
      },
      "url": "https://pasztor.at/",
      "sameAs": [
        "https://facebook.com/{{site.facebook_username}}",
        "https://twitter.com/{{site.twitter_username}}",
        "https://github.com/{{site.github_username}}",
        "https://www.linkedin.com/in/{{site.linkedin_username}}/"
      ]
    }
    </script>
  </head>
  <body>
    <div class="container">
      {{ content }}
    </div>
  </body>
</html>
