---
layout: default
---
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "https://pasztor.at/",
      "name": "Janos Pasztor"
    }
  }]
}
</script>

{{ content }}

<hr />

<footer class="container-block">
    <div class="row">
        <div class="col"><a href="/terms">Copyright &copy; Janos Pasztor</a></div>
        <div class="col col-right"><a href="/imprint">Imprint</a> &bull; <a href="/terms">Terms of Use</a> &bull; <a href="/privacy">Privacy Policy</a></div>
    </div>
</footer>
